:root {
  --white: #fff;
  --black: #000;
  --grey: #7f7f7f;
  --lightblue: #77abee;
  --brightblue: #69c3ff;
  --darkblue: #2e364b;
  --lightpink: #f792e1;
  --hotpink: #f756c6;

  --bg: var(--black);
  --text: var(--white);
  --link: var(--lightblue);
  --border: var(--darkblue);
  --picto-width: 100vw;
  --fontsize: 15px;
  accent-color: var(--border);
  color-scheme: dark;
  word-wrap: break-word;

  --outline-black: 1px 1px var(--bg), -1px -1px var(--bg), 1px -1px var(--bg),
    -1px 1px var(--bg), 0 1px var(--bg), 0 -1px var(--bg), 1px 0 var(--bg),
    -1px 0 var(--bg), 0 0 3px var(--bg), 0 0 2px var(--bg), 0 0 1px var(--bg);
}

body {
  background: var(--bg);
  color: var(--text);
  font-family: ms ui gothic, Arial, Helvetica, sans-serif;
  margin: 0;
  font-size: var(--fontsize);
  image-rendering: pixelated;
}

a {
  color: var(--link);
}

p,
h1,
ul {
  margin: 0;
}

.bg-element {
  pointer-events: none;
  position: fixed;
}

#bg1 {
  width: 40vw;
  bottom: -5vw;
  right: -7.5vw;
  opacity: 0.125;
  transform: rotate(-40deg);
}

#bg1,
#bg2 {
  aspect-ratio: 1.634/1;
  background: url(imgs/Indane_structure.svg) 0 / cover;
  filter: brightness(0) saturate(100%) invert(68%) sepia(5%) saturate(5654%)
    hue-rotate(184deg) brightness(98%) contrast(91%);
}

#bg2 {
  width: 50vw;
  transform: rotate(60deg) scaleX(-1);
  right: -10vw;
  opacity: 0.0625;
}

#container {
  background: linear-gradient(color-mix(in hsl, var(--bg), #0000 2.5%)),
    url(imgs/Games_-_Project_SEKAI_-__253F_253F_253F_253F_253F_253F_253F_253F_253F_253F_253F_253F_253F.png)
      left 20%/125%;
  border-left: 2px solid var(--text);
  height: 100vh;
  overflow-y: auto;
  display: grid;
  grid-template-columns: min-content 98.9%;
  grid-template-rows: min-content max-content;
  grid-template-areas: "top top" "left right";
}

#title {
  grid-area: top;
  margin: 0;
  position: relative;
  bottom: 11px;
  outline: 1px solid var(--text);
}

#title::before {
  content: "";
  display: block;
  position: absolute;
  height: calc(100% + 2px);
  background: linear-gradient(90deg, #0000 15%, var(--bg) 50%);
  width: 99vw;
  right: 0;
  z-index: 222;
  pointer-events: none;
  box-shadow: 15px 0 var(--bg);
}

#title::after {
  content: "";
  width: 50vw;
  height: 30px;
  background: linear-gradient(#0000 55%, var(--text) 55%);
  display: inline-block;
  position: relative;
  right: 20px;
  filter: drop-shadow(50vw 0 var(--text)) drop-shadow(0 0.175em var(--text))
    drop-shadow(0 -0.15em var(--text));
  box-sizing: border-box;
  color: var(--bg);
  font-family: sans-serif;
}

iframe[src="picto.html"] {
  aspect-ratio: 2/3;
  width: 100%;
  display: block;
  border: 1px solid var(--border);
  padding: 1px;
  background: var(--bg);
}

iframe[src="player/index.html"] {
  width: 100%;
  height: 98%;
  background: transparent;
}

nav,
#title {
  background: var(--bg);
  z-index: 100;
}

nav {
  grid-area: left;
  width: min-content;
  text-orientation: mixed;
  writing-mode: vertical-lr;
  box-shadow: 0 -9px 0 1px var(--text);
  outline: 1px solid var(--text);
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  margin: 0;
  align-items: center;
  justify-content: center;
}

nav li::before {
  content: "";
  aspect-ratio: 1/1;
  width: 0.9em;
  background: url(imgs/arrow2.svg) 0 / cover;
  display: inline-block;
  margin: 5px auto;
  transform: rotate(180deg);
  transition: 0.25s;
  filter: invert(1);
  mix-blend-mode: difference;
}

nav li:hover::before {
  transform: rotate(90deg);
}

nav a {
  background: var(--text);
  color: var(--bg);
  text-decoration: none;
  transition: 0.5s;
  padding: 7px 1px;
}

nav a:hover {
  color: var(--link);
  text-decoration: underline 1px dashed;
}

main {
  grid-area: right;
  padding-inline: 10px;
  margin-right: calc(100% - 700px);
  margin-left: 5px;
  background: color-mix(in hsl, var(--bg), #0000);
  box-shadow: inset 0 0 100px 100px var(--bg), 0 0 50px 50px var(--bg);
  display: grid;
  grid-template-rows: min-content auto;
  grid-template-columns: 30% auto;
  gap: 5px;
  z-index: 2;
}

main > .top {
  grid-column: 1 / span 2;
  margin-bottom: 15px;
}

main > .left {
  border-right: 1px solid color-mix(in hsl, var(--text), #0000);
  padding-right: 10px;
}

#walk {
  height: 100px;
  overflow: hidden;
  position: relative;
  border: 1px solid var(--text);
}

#walk img {
  height: 100%;
  position: absolute;
  bottom: 0;
  animation: walk 5s ease-in-out infinite;
}

@keyframes walk {
  from,
  to {
    right: -15%;
  }
  50% {
    transform: none;
    right: 110%;
  }
  60%,
  to {
    transform: scaleX(-1);
  }
}

#profile {
  background: linear-gradient(
      90deg,
      var(--bg) 30%,
      color-mix(in hsl, var(--bg), #0000) 90%,
      var(--bg)
    ),
    url(imgs/__original_drawn_by_hinasaki_you__3f42c75193d1d72459ea4d9c44d0d307.jpg)
      top/cover;
  height: 90px;
  box-shadow: inset 0 0 5px 2.5px var(--bg), inset 0 0 2.5px 2.5px var(--bg);
}

#profile > div {
  display: flex;
  backdrop-filter: saturate(0.25);
  height: 100%;
}

#profile-pic {
  aspect-ratio: 1/1;
  height: 100%;
  background: linear-gradient(45deg, #0000 91.6%, var(--text) 0),
    linear-gradient(color-mix(in hsl, var(--bg), #0000 75%)),
    url(imgs/789.jpg) center/190%;
  filter: sepia(0.5) hue-rotate(180deg) brightness(0.75) contrast(1.75);
  clip-path: polygon(85% 0, 100% 15%, 100% 100%, 0 100%, 0 0);
  margin-right: 15px;
  box-sizing: border-box;
  outline: 1px solid var(--bg);
  outline-offset: -2px;
  box-shadow: inset 0 0 0 3px var(--text);
  transition: 0.125s;
}

#profile-pic:hover {
  filter: none;
}

.speechbubble {
  --arrow-width: 10px;
  border: 1px solid var(--border);
  background: linear-gradient(
    color-mix(in hsl, var(--text), #0000 85%),
    #0000 10%,
    var(--bg)
  );
  padding: 7.5px;
  margin: 5px var(--arrow-width) 0;
  position: relative;
  max-width: 50%;
  word-wrap: break-word;
  box-shadow: inset 0 0 2px 4px var(--bg);
}

.speechbubble::before {
  width: 0;
  height: 0;
  box-sizing: border-box;
  content: "";
  display: block;
  border-block: var(--arrow-width) solid #0000;
  position: absolute;
  left: var(--arrow-left);
  top: var(--arrow-top);
  bottom: var(--arrow-bottom);
  right: var(--arrow-right);
}

.speechbubble.left::before {
  border-right: calc(var(--arrow-width) + 3px) solid var(--bg);
  filter: drop-shadow(-1px 0 var(--border)) drop-shadow(-1px 0 var(--border));
}

.speechbubble.right::before {
  border-left: calc(var(--arrow-width) + 3px) solid var(--bg);
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.box {
  border: 1px solid var(--border);
  width: 100%;
  overflow: auto;
  outline: 1px solid color-mix(in hsl, var(--border), #0000);
  outline-offset: -3px;
  padding: 0.5em;
  box-sizing: border-box;
  background: linear-gradient(
    color-mix(in hsl, var(--darkblue), var(--bg) 85%),
    var(--bg) 50%
  );
}

.box2 {
  border: 1px solid var(--bg);
  background: linear-gradient(
      90deg,
      var(--bg),
      color-mix(in hsl, var(--bg), #0000 35%),
      var(--bg)
    ),
    url(imgs/Support_Card_30157.png) top/cover;
  box-shadow: inset 0 0 5px 2.5px var(--bg), inset 0 0 2.5px 2.5px var(--bg);
  text-shadow: var(--outline-black);
}

.box2 > * {
  backdrop-filter: saturate(0.25);
  padding-inline: 10px;
}

.box2 > :first-child {
  padding-top: 10px;
}

.box2 > :last-child {
  padding-bottom: 15px;
}

main .title {
  margin: 0 0 5px;
  font-size: calc(var(--fontsize) * 7.5);
  letter-spacing: -9px;
  clip-path: polygon(
    0 0,
    calc(100% - 0.125em) 0,
    100% 0.125em,
    100% 100%,
    0 100%
  );
  height: calc(var(--fontsize) * 2);
  color: var(--bg);
  background: url(imgs/arrow2down.svg) 99.75% 96%/0.17em no-repeat, var(--text);
  padding: 2px;
  text-decoration: line-through 0.5em var(--text);
}

main h1:not(.title) {
  font-style: italic;
}

#todo {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  height: 3em;
  list-style-image: url(imgs/arrow4rightdown.png);
  border-inline: 10px solid #0000;
}

#todo li {
  margin-left: 15px;
}

#status-blob {
  border-radius: 50%;
  height: 10px;
  width: 10px;
  /* margin top to align is prob bad but idk how to css... */
  margin-top: 4px;
}

#status-details {
  margin: 0;
  padding-right: 5px;
}

.status {
  display: flex;
  flex-direction: row;
}
